%h1
  Listing ships
%table
  %tr
    %th
      Title
    %th
      Description
    %th{ :colspan => '2' }
  - @ships.each do |ship|   
    %tr
      %td
        = link_to h(ship.name), edit_ship_path(ship)
      %td
        =h ship.description   
      %td
        = link_to 'Show', ship     
      %td
        = link_to 'Delete', delete_ship_path(ship)   
  
%p
  = link_to 'New ship', new_ship_path   
